.carousel-container {
    position: relative; 
}

.card {
    width: 100%; 
    max-width: 220px; 
    margin-bottom: 20px; 
    position: relative; /*  pour le badge NEW */
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}

.carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

/* Styles pour le slider */
.slick-slide {
    display: flex !important; 
    justify-content: center;
}

.btnSlick {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.btnSlick:first-of-type {
    left: 10px; /* Positionne le bouton gauche */
}

.btnSlick:last-of-type {
    right: 10px; /* Positionne le bouton droit */
}

/* Transition pour l'effet de zoom au survol */
.card-img-hover {
    transition: transform 0.3s ease; 
}

.card-img-hover:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% au survol */
}