.carousel-container {
    position: relative;
    overflow: hidden;
}

.card {
    width: 100%; /* Assurez-vous que le cadre prend toute la largeur disponible */
    max-width: 220px; /* Limitez la largeur maximale si nécessaire */
    margin-bottom: 20px; /* Ajoutez une marge en bas de chaque cadres */
    position: relative; /* Nécessaire pour le badge NEW */
    display: flex; /* Utilisez flexbox pour aligner le contenu */
    flex-direction: column; /* Aligne les éléments verticalement */
    height: 100%; /* Permet aux cadres d'avoir la même hauteur */
    margin: auto;
}

.carousel-image {
    width: 100%; /* L'image prend toute la largeur de la carte */
    height: auto; /* Gardez la proportion de l'image */
    object-fit: cover; /* Ajuste l'image pour couvrir le conteneur sans déformation */
}

/* Styles pour le slider */
.slick-slide {
    display: flex !important; /* Assurez-vous que les éléments sont flexibles */
    justify-content: center; /* Centrez chaque cadre dans le slider */
}

.btnSlick {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.btnSlick:first-of-type {
    left: 10px; /* Positionne le bouton gauche */
}

.btnSlick:last-of-type {
    right: 10px; /* Positionne le bouton droit */
}

/* Transition pour l'effet de zoom au survol */
.card-img-hover {
    transition: transform 0.3s ease; /* Transition douce pour le zoom */
}

.card-img-hover:hover {
    transform: scale(1.1); /* Agrandit l'image de 10% au survol */
}