.nav-link.active {
     font-weight: bold; /* Met le texte en gras */
     text-decoration: underline; /* Souligne le texte */
    /*  color: #007bff; /* Change la couleur du texte, par exemple, en bleu */
}

.btnSignup{
    background-color:rgb(8, 105, 105); 
    border-radius:  10%   ;
    padding: 10%;
    color: white;
    
}
